body {
  font-family: 'Fira Sans', sans-serif !important;
}

/* Typography */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}


/* Buttons */
.btn-lg {
  padding: 16px 40px;
  font-size: 14px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 15%);
}

.btn-lg:hover {
  box-shadow: 0px 2px 3px rgb(0 0 0 / 30%);
}