body {
  font-family: 'Fira Sans', sans-serif !important;
}

/* Typography */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}


/* Buttons */
.btn {
  padding: 0.7rem 4rem;
  font-size: 0.9rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1)
}

.btn-lg {
  padding: 1rem 2.5rem;
}

.btn-lg:hover {
  box-shadow: 0px 2px 3px rgb(0 0 0 / 30%);
}

/* Forms */
.form-group label {
  color: #6e6d7a;
}

.form-control {
  border-color: #ADACBD;
}