@import 'bs-overrides.css';

.form-group {
  margin-bottom: 1.2rem;
}

.form-group label {
  margin-bottom: .4rem;
  font-size: .9rem;
  color: #6e6d7a;
}

.custom-wizard {
  border-radius: 0.2rem;
  background-color: #eceff1;
}

.custom-wizard li {
  color: #9e9e9e;
}

.custom-wizard li.active {
  font-weight: bold;
  color: #333;
}


@media (min-width: 768px) {
  .container-sm {
    max-width: 720px;
  }
}

