@import 'bs-overrides.css';

.form-group {
  margin-bottom: 1.2rem;
}

.form-group label {
  margin-bottom: .4rem;
  font-size: .9rem;
}

@media (min-width: 768px) {
  .container-sm {
    max-width: 720px;
  }
}

