body {
  font-family: 'Fira Sans', sans-serif !important;
}

.navbar-light {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #fff !important;
  border-bottom: 1px solid #cfd8dc;
}

/* Buttons */
.btn {
  padding: 0.6rem 1.5rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: 600;
}

.btn-sm {
  font-size: 0.75rem;
}

.btn-long {
  padding: 0.6rem 4rem;
}

.card {
  border: 1px solid #E7E7E7;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.08);
  border-radius: 0.5rem;
}

.card-body {
  padding: 1.5rem 2rem;
}

.fs-6 {
  font-size: 0.875rem!important;
}

.small, small {
  font-size: 0.75rem;
}