@media (min-width: 768px) {
  .container-sm {
    max-width: 860px;
  }

  .container-sm.preview-job {
    max-width: 1047px;
  }
}

.inner-box {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 2rem 5rem;
  margin-bottom: 1rem;
}

.preview-job .inner-box {
  padding: 2rem;
}

.btn-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.form-group {
  margin-bottom: 1.2rem;
}

.form-group label {
  margin-bottom: .4rem;
  font-size: .9rem;
  color: #333;
}

.custom-wizard {
  border-radius: 0.2rem;
  background-color: #eceff1;
}

.custom-wizard li {
  color: #9e9e9e;
}

.custom-wizard li.active {
  font-weight: bold;
  color: #333;
}