@import 'bs-overrides.css';

.left-sidebar {
  box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 70px);
}

.left-sidebar .nav-link {
  padding: 1rem 0.8rem;
  color: #868686;
  font-size: 14px;
}

.left-sidebar .nav-link:focus, .left-sidebar .nav-link:hover, .left-sidebar .nav-link.active {
  color: #1977C3;
  font-weight: 500;
}
