@import 'bs-overrides.css';

.left-sidebar {
  box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 70px);
}

.left-sidebar .nav-link {
  padding: 1rem 0.8rem;
  color: #868686;
  font-size: 14px;
}

.left-sidebar .nav-link:focus,
.left-sidebar .nav-link:hover,
.left-sidebar .nav-link.active {
  color: #1977C3;
  font-weight: 500;
}

.jobtype-tabs .nav-link.active {
  color: #1977C3;
  background-color: #F5FAFF;
  border-radius: 8px;
  font-weight: 600;
  border: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.jobtype-tabs .nav-link {
  padding: 0.8rem 2.6rem;
  color: #051B29;
}

.job-content-row .bordered-box {
  border: 1px solid #E7E7E7;
  border-radius: 8px;
  padding: 1rem;
}

.job-content-row .bordered-box:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.job-content-row .bordered-box:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.job-content-row .dropdown-toggle:after {
  content: none;
}


/* job search with checkbox */
.job-search-box {
  padding: 1.5rem 1rem;
  border: 1px solid #E7E7E7;
  border-radius: 4px;
}

.search {
  background-color: #F5FAFF;
  margin-bottom: 1.2rem;
  padding: 10px;
  border: none;
}

.job-search-list li {
  padding: 0.5rem 0;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}

.caret::after {
  font-family: "bootstrap-icons";
  content: "\F282";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::after {
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Safari */
  transform: rotate(180deg);
}

.nested {
  display: none;
  list-style: none;
  padding-left: 1.5rem;
}

.active {
  display: block;
}

/* job search with checkbox ends */

.tag {
  font-size: 12px;
  padding: 6px;
  border: 1px solid #893FAB;
  border-radius: 4px;
}